body{
    background-color: #4C3056;
    background-image: url('../../assets/images/background-images/Subtraction14.svg');
    background-size: 100%;
    background-position-y: -400px;
    background-position-x: 1200px;
    background-repeat: no-repeat;

    font-family: 'Source Sans Pro', sans-serif;

    /*max-width: 1440px;*/

    overflow-x: hidden;

    margin: 0 auto;
}

footer{
    height: 15rem;
    margin: 0 auto;
    background: #fff;
}

header{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;

    margin-bottom: 100px;
}

.form-group{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-control{
    width: 80%;
    background: none;
    margin: 0 auto;

    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 30px;
    transition: ease-in, .3s;

    font-size: 14pt;
    color: #fff;

    outline: none;
}

.form-control:hover{
    font-size: 16pt;
    height: 45px;

    transition: linear, .3s;
}

#auth-title-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    margin-top: 50px;

    width: 80%;
}

#auth-title-container h2, p{
    color: #fff;
}

#auth-image-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    margin: 0 auto;
}

#auth-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#auth-text-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

#auth-text-container{
    text-align: center;
}

#submit{

    width: 140px !important;
    height: 40px;
    background-color: #E94C55;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;

    border: none;
    cursor: pointer;

    border-radius: 20px;
}

.login-form-container{
    margin-bottom: 14rem;
}

.confirm-warning-container{
    color: red;
    font-size: 14pt;
    margin-top: 30px;
    display: none;
}

.confrim-warning-container-show{
    display: flex;
    color: red;
    font-size: 14pt;
    margin-top: 30px;
}