body{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#prezentacije-container{

    display: grid;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    margin-bottom: 20px;
}

.prezentacija-container{
    width: 400px;
    height: 100px;
    background: grey;
    display: flex;
    color: whitesmoke;
    border: 1px solid red;
    margin: 10px auto;
}

.prezentacija-container:hover{
    cursor: pointer;
}