body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;


    background-color: #4C3056;
    background-image: url('../../assets/images/background-images/Subtraction14.svg');
    background-size: 60%;
    background-position-y: -400px;
    background-position-x: 1200px;
    background-repeat: no-repeat;

    font-family: 'Source Sans Pro', sans-serif;

    max-width: 1440px;

    overflow-x: hidden;
}

#app-container{
    margin-bottom: 100px;
}

#prezentacije-container{

    height: auto;
    opacity: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 30px;

    transition: .3s linear;
}

.prezentacije-hide{
    height: 0 !important;
    /*opacity: 0 !important;*/

    transition: .3s linear;
}

.prezentacija-container{
    width: 300px;
    height: 465px;

    border: 2px solid #ffffff;

    border-radius: 50px;

    margin: 0 30px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prezentacija-container{
    background-color: #fff;
}

#prezentacija-container h3, p{
    color: #4C3056;

    font-weight: lighter;
}

.prezentacija-btn{
    width: 220px;
    height: 50px;

    background-color: #E94C55;

    border-radius: 25px;

    margin-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.prezentacija-btn p{
    color: #fff;
    margin-right: 10px;
}

.grey-line{
    width: 70%;
    border: 1px solid rgba(217, 217, 217, 0.3);

    margin: 10px;
}

#add-presentation-button-container{
    backdrop-filter: blur(8px);
}

/* Add presentation */

#add-presentation-form-container{

    opacity: 0;
    height: 0;
    display: none;

    transition: .3s linear;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 60%;

    margin: 0 auto;

    margin-top: 30px;

    border-radius: 60px;

    background-color: #fff;
}

.add-presentation-show{
    opacity: 1 !important;
    height: 400px !important;

    z-index: 10 !important;

    transition: .3s linear;
}

#hide-container{
    display: none;
    width: 100%;
    transition: 5s linear;
}

.hide-container-show{
    display: flex !important;
    width: 100%;
    transition: 5s linear;
}

.dashboard-form{

    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
}

.dashboard-form label{
    font-size: 22pt;
    color: #4C3056;
}

.form-element{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 100%;
}

#presentation-name{
    width: 80%;
    border: 2px solid #4C3056;
    height: 40px;

    border-radius: 20px;

    font-size: 16pt;

    padding: 0 10px;
}

#submit{
    width: 160px;
    height: 40px;

    border: none;

    background-color: #E94C55;
    color: #fff;

    border-radius: 20px;
}

.purple-line{
    width: 50px;
    border: 1px solid #4C3056;

}

.prezentacija-element-div{
    opacity: 1;
    transition: 0.3s linear;
}

.prezentacija-element-div-hide{

    opacity: 0;
    transition: 0.3s linear;

}

#add-presentation-small:hover{
    cursor: pointer;
}