html {
    scroll-behavior: smooth;
  }

body{
    background-image: url('../../assets/images/background-images/bg.svg');
    background-position-y: -100px;
    background-size: 100%;
    background-repeat: no-repeat;

    font-family: 'Source Sans Pro', sans-serif;

    /*max-width: 1440px;*/

    overflow-x: hidden;

    margin: 0 auto;
}

#page-container{
    position: relative;
    min-height: 100vh;

    max-width: 1440px;
    margin: 0 auto;

    margin-left: 10%;
    margin-right: 10%;

}

#content-wrap{
    padding-bottom: 2.5rem;
}

header{

    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

footer{
    height: 15rem;
    margin: 0 auto;
    margin-top: 12rem;    
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 2.5em;
}

#top-content-container{

    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title-container h1, h4{

    color: #ffffff;
}

#top-substtraction{
    position: absolute;
    top: -10%;
    right: -40%;
    z-index: -10;
    width: 80%;
}

#title-buttons-container{
    width: 100%;
}

button{
    font-size: 12pt;
    font-family: 'Source Sans Pro', sans-serif;
}

.auth-button{
    width: 140px;
    height: 40px;
    border: none;

    border-radius: 20px;

    outline:none;

    margin-right: 20px;
}

#reg-button{
    margin-right: 15px;
}

.auth-button:hover{
    cursor: pointer;
}

#reg-button{
    background-color: #E94C55;
    color: #ffffff;
}

#top-mobile{
    width: 60%;
    float: right;
}

#pogodnosti-container{
    
    width: 70%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 450px;
}

#pogodnosti-title-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#pogodnosti-title-text-container h2{
    font-size: 2.0em;
    color: #E94C55;
}

#pogodnosti-title-image-container{
    margin: 0 auto;
}

#pogodnosti-text-container{
    text-align: center;
    font-size: 15pt;
}


#pogodnosti-cards-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-direction: row;
    margin-top: 80px;
}

.pogodnosti-card-class{
    width: 30%;
    height: 400px;
    background-color: #ffffff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: -1px -1px 15px 1px rgba(0, 53, 145, 0.15);;
    box-shadow: -1px -1px 15px 1px rgba(0, 53, 145, 0.15);;
}

.pogodnosti-icon-container{
    margin: 0 auto;
    margin-top: 60px;
}

.pogodnosti-card-title-container{
    margin: 0 auto;
}

.pogodnosti-card-text-container{
    width: 80%;
    margin: 0 auto;
}

.pogodnosti-card-text-container p{
    text-align: center;
}

/**/

#o-nama-container{
    
    width: 70%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

#o-nama-background-image{
    position: absolute;
    width: 70%;
    left: -45%;
    margin-top: 140px;
    z-index: -5;
}

#o-nama-title-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#o-nama-title-text-container h2{
    font-size: 2.0em;
    color: #E94C55;
}

#o-nama-title-image-container{
    margin: 0 auto;
}

#o-nama-quotes-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-nama-quote-box-image{
    width: 100%;
}

.vl {
  border-left: 1px solid #D9D9D9;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.quote-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

    background-image: url('../../assets/images/body/o-nama/Union1.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 800px;
    padding: 10px;
}

#o-nama-quote-two{
    margin-left: 100px;
    margin-right: -100px;
}

.quote-content-container p{
    width: 80%;
}

.quote-content-text{
    flex-basis: 55%;
}

#o-nama-text-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 15pt;
}

/**/

#preuzimanje-container{
    
    width: 70%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

#preuzimanje-title-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#preuzimanje-title-text-container h2{
    font-size: 2.0em;
    color: #E94C55;
}

#preuzimanje-title-image-container{
    margin: 0 auto;
}

#preuzimanje-text-container{
    text-align: center;
    font-size: 15pt;
}

#preuzimanje-google-content-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;
}

#preuzimanje-title-image{
    margin: 0 auto;
}

#download-button{
    width: 200px !important;
    background-color: #E94C55;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
}

#kontakt-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 150px;
}

.kontakt-background{
    position: absolute;
    margin-top: -100px;
    left: 0;
    z-index: -5;
}

#kontakt-background-image{
    width: 3840px;
    height: 792px;
    margin-left: -10%;
    object-fit: cover;
}

#kontakt-title-image-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#kontakt-title-image{
    margin: 0 auto;
}

#kontakt-title-text-container{
    margin: 0 auto;
    color: #fff;
}

#kontakt-form-container{
    width: 100%;
}

#form-kontakt-class{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-kontakt-class{
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 30px;
    transition: ease-in, .3s;

    font-size: 14pt;
    color: #fff;
}

.input-kontakt-class:focus{
    font-size: 16pt;
    height: 45px;

    transition: linear, .3s;
}

#input-kontakt-button{
    margin: 0 auto;
    margin-top: 40px;
    width: 140px;
    height: 40px;

    border: none;
    cursor: pointer;

    border-radius: 20px;
    background-color: #E94C55;
    color: #fff;

    outline: none;
}

/*
Laptop
*/
@media only screen and (min-width: 786px) and (max-width: 1366px){

    #title-buttons-container{

        width: 200%;
    }

    #top-substtraction{
        width: 75%;
    }

    #pogodnosti-container{
        margin-top: 200px;
        width: 100%;
    }

    #o-nama-container{
        width: 100%;
    }

    .quote-content-container{
        height: 200px;
        width: 800px;
        padding: 0;
    }

}

/* 
Media Queries Mobile
*/

@media only screen and (min-width: 320px) and (max-width: 414px){

    body{

        background-size: 300%;
        background-repeat: no-repeat;

    }

    #page-container{
        width: 90%;

        margin: 0 auto;
    }

    #top-content-container #top-images-container{
        display: none;
    }

    #top-content-container{
        margin-top: 0;
    }

    #buttons-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    #buttons-container button{
        margin: 0 auto;
        margin-top: 20px;
    }

    #pogodnosti-container{
        margin-top: 150px;
        flex-wrap: nowrap;

        width: 80%;
    }

    #pogodnosti-cards-container{
        flex-direction: column;
    }

    .pogodnosti-card-class{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;

    }

    #o-nama-container{
        margin-top: 50px;
    }

    #o-nama-background-image{
        left: -85%;
        width: 100%;
    }

    #o-nama-title-container{
        text-align: center;
    }

    .quote-content-container{
        background-image: none;
    }

    .quote-content-container .vl{
        display: none;
    }

    .quote-content-container img{
        display: none;
    }

    .o-nama-quotes-container-class{
        width: 100%;
        margin: 0 auto !important;
    }

    .quote-content-container{
        width: 100% !important;
        height: auto;
    }

    .quote-content-container p{
        width: 100% !important;
    }

    .quote-content-text{
        flex-basis: auto;
    }

    #preuzimanje-container{
        margin: 0 auto;
        margin-top: 50px;
        width: 100%;
    }

    #preuzimanje-google-content-container{
        width: 100%;
    }

    #preuzimanje-google-content-container img{
        display: none;
    }
    
    #form-kontakt-class{
        width: 100%;
    }

}